{
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "bracketSpacing": true,
  "bracketSameLine": true,
  "printWidth": 80,
  "quoteProps": "as-needed",
  "jsxSingleQuote": true,
  "trailingComma": "es5"
}